@inject AppState AppState
@implements IDisposable

@using Dashboard.StateContainers;
@using Dashboard.Models;


<aside class="sidenav @(AppState.SideBarType != "bg-default" ? "bg-white" : "bg-default")  navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main" data-color="@AppState.SideBarColor">
	<div class="sidenav-header">
		<i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
		<a class="navbar-brand m-0" href="/default" target="_blank">
			<img src="@AppState.SideBarLogo" class="navbar-brand-img h-100" alt="main_logo">
			<span class="ms-1 font-weight-bold">@sideBarTitle</span>
		</a>
	</div>
	<hr class="horizontal dark mt-0">
	<div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
		<ul class="navbar-nav">
			@foreach (SideBarMenuItem sideBarMenuItem in sideBarMenuItemList)
			{
				@if (sideBarMenuItem.Type == "Break")
				{
					<li class="nav-item mt-3">
						<h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">@sideBarMenuItem.Name.ToUpper()</h6>
					</li>
				}
				else
				{
					<li class="nav-item">
						<a data-bs-toggle="collapse" href="#@sideBarMenuItem.Id" class="nav-link @sideBarMenuItem.Css" aria-controls="@sideBarMenuItem.Id" role="button" aria-expanded="false">
							<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
								<i class="@sideBarMenuItem.Icon text-sm opacity-10"></i>
							</div>
							<span class="nav-link-text ms-1">@sideBarMenuItem.Name</span>
						</a>
						<div class="collapse " id="@sideBarMenuItem.Id">
							<ul class="nav ms-4">
								@foreach (MenuItem mainMenuItem in sideBarMenuItem.MainMenuItemList)
								{

									@if (@mainMenuItem.MenuItemList.Count > 0)
									{
										<li class="nav-item ">
											<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="@("#"+mainMenuItem.Id)">
												<span class="sidenav-mini-icon"> @mainMenuItem.Title?.First().ToString().ToUpper() </span>
												<span class="sidenav-normal"> @mainMenuItem.Title <b class="caret"></b></span>
											</NavLink>
											<div class="collapse" id="@mainMenuItem.Id">
												<ul class="nav nav-sm flex-column">
													@foreach (MenuItem menuItem in @mainMenuItem.MenuItemList)
													{
														<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.Title))>
															<NavLink class="nav-link " href="@menuItem.Link">
																<span class="sidenav-mini-icon text-xs"> @menuItem.Title?.First().ToString().ToUpper() </span>
																<span class="sidenav-normal"> @menuItem.Title </span>
															</NavLink>
														</li>
													}
												</ul>
											</div>
										</li>
									}
									else
									{
										<li class="nav-item" @onclick=@(() => NavLinkOnClick(@mainMenuItem.Title))>
											<NavLink class="nav-link" href="@mainMenuItem.Link">
												<span class="sidenav-mini-icon"> @mainMenuItem.MiniTitle </span>
												<span class="sidenav-normal"> @mainMenuItem.Title </span>
											</NavLink>
										</li>
									}
								}

							</ul>
						</div>
					</li>

				}
			}
		</ul>
	</div>
	<div class="sidenav-footer mx-3 my-3">
		<div class="card card-plain shadow-none" id="sidenavCard">
			Footer vmi
			<img class="w-60 mx-auto" src="../../assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
			<div class="card-body text-center p-3 w-100 pt-0">
				<div class="docs-info">
					<h6 class="mb-0">Need help?</h6>
					<p class="text-xs font-weight-bold mb-0">Please check our docs</p>
				</div>
			</div>
		</div>
		@*<a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/argon-dashboard" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a>*@
	</div>
</aside>

@code {

	string sideBarTitle = "DashMate - Blazor";

	static string DashboardActiveClass = "";
	static string PagesActiveClass = "";
	static string ApplicationActiveClass = "";
	static string EcommerceActiveClass = "";
	static string AuthenticationActiveClass = "";



	async Task NavLinkOnClick(string normalTitle)
	{
		MainMenuItem activeMenuItem = mainMenuItemList.Where(p => p.MenuItemList.Any(o => o.Title == normalTitle)).FirstOrDefault();

		DashboardActiveClass = (activeMenuItem?.Name == "Dashboards") ? "active" : "";
		PagesActiveClass = (activeMenuItem?.Name == "Pages") ? "active" : "";
		ApplicationActiveClass = (activeMenuItem?.Name == "Applications") ? "active" : "";
		EcommerceActiveClass = (activeMenuItem?.Name == "Ecommerce") ? "active" : "";
		AuthenticationActiveClass = (activeMenuItem?.Name == "Authentication") ? "active" : "";

		AppState.SetNavBarSelectedMainMenu(activeMenuItem.Name);
		AppState.SetNavBarSelectedMenu(normalTitle);

	}

	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}


	List<SideBarMenuItem> sideBarMenuItemList = new List<SideBarMenuItem>
	{
		 new SideBarMenuItem{ Name = "Dashboards", Id = "dashboardsExamples", Css = DashboardActiveClass, Icon = "ni ni-shop text-primary" , MainMenuItemList =dashboardMenuItems},
		 new SideBarMenuItem{ Name = "PAGES" , Type = "Break"},
		 new SideBarMenuItem{ Name = "Pages" , Id = "pagesExamples", Css = PagesActiveClass, Icon = "ni ni-ungroup text-warning",
		  MainMenuItemList = new List<MenuItem>
		 {
			new MenuItem{ Title = "Profile" , MenuItemList = profileMenuItems, Id = "profileExample"},
			new MenuItem{ Title = "Users" , MenuItemList = usersMenuItems, Id = "usersExample"  },
			new MenuItem{ Title = "Account" , MenuItemList = accountMenuItems, Id = "accountExample" },
			new MenuItem{ Title = "Projects" , MenuItemList =  projectMenuItems, Id = "projectsExample" },
			new MenuItem{ Title = "Pricing Page" , Link = "/pricingpage"  },
			new MenuItem{ Title = "RTL"  ,Link = "/rtl"},
			new MenuItem{ Title = "Widgets"  ,Link = "/widgets"},
			new MenuItem{ Title = "Charts"  ,Link = "/charts"},
			new MenuItem{ Title = "Sweet Alerts"  ,Link = "/notifications"},
			new MenuItem{ Title = "Notifications"  ,Link = "/noticifation"},
			new MenuItem{ Title = "Chat" ,Link = "/chat" },
			new MenuItem{ Title = "Syncfusion"  ,Link = "/syncfusion"},

		 }},
		 new SideBarMenuItem{ Name = "Applications" , Id = "applicationsExamples", Css = ApplicationActiveClass, Icon = "ni ni-ui-04 text-info", MainMenuItemList =applicationsMenuItems},
		 new SideBarMenuItem{ Name = "Ecommerce" , Id = "ecommerceExamples", Css = EcommerceActiveClass, Icon = "ni ni-archive-2 text-success",
		 MainMenuItemList = new List<MenuItem>
		 {
			new MenuItem{ Title = "Overview" , Link = "/overview",  MiniTitle = "O"  },
			new MenuItem{ Title = "Products" , MenuItemList = productsMenuItems, Id = "productsExample"  },
			new MenuItem{ Title = "Orders" ,   MenuItemList = ordersMenuItems, Id = "ordersExample" },
			new MenuItem{ Title = "Referral" ,  Link = "/referral",  MiniTitle = "R"},

		 }},
		 new SideBarMenuItem{ Name = "Authentication" , Id = "authExamples", Css = AuthenticationActiveClass, Icon = "ni ni-single-copy-04 text-danger",
		 MainMenuItemList = new List<MenuItem>
		 {
			new MenuItem{ Title = "Sing In" , MenuItemList = singinMenuItems, Id = "signinExample"},
			new MenuItem{ Title = "Sing Up" , MenuItemList = singupMenuItems, Id = "signupExample"  },
			new MenuItem{ Title = "Reset Password" , MenuItemList = resetMenuItems, Id = "resetExample" },
			new MenuItem{ Title = "Lock" , MenuItemList = lockMenuItems, Id = "lockExample" },
			new MenuItem{ Title = "2-Step Verification" , MenuItemList = verificationMenuItems , Id = "stepExample"},
			new MenuItem{ Title = "Error" , MenuItemList = errorMenuItems , Id = "errorExample"},

		 }}
	};


	List<MainMenuItem> mainMenuItemList = new List<MainMenuItem>
	{
	 new MainMenuItem{ Name = "Dashboards", MenuItemList = dashboardMenuItems },
	 new MainMenuItem{ Name = "Pages" , MenuItemList = pagesMainMenuItems },
	 new MainMenuItem{ Name = "Applications" ,MenuItemList = applicationsMenuItems},
	 new MainMenuItem{ Name = "Ecommerce"  ,MenuItemList = ecommerceMainMenuItems},
	 new MainMenuItem{ Name = "Authentication" ,MenuItemList = authenticationMainItems}
	};

	static List<MenuItem> dashboardMenuItems = new List<MenuItem>
	{
		//new MenuItem{ Link = "/landing",  MiniTitle = "L" , NormalTitle =  "Landing"  },
		new MenuItem{ Link = "default",  MiniTitle = "D" , Title =  "Default"  },
		new MenuItem{ Link = "automotive",  MiniTitle = "A" , Title =  "Automotive"  },
		new MenuItem{ Link = "smarthome",  MiniTitle = "S" , Title =  "Smart Home"  },
		//new MenuItem{ Link = "/virtualreality",  MiniTitle = "V" , NormalTitle =  "Virtual Reality"  },
		new MenuItem{ Link = "crm",  MiniTitle = "C" , Title =  "CRM"  }
	};

	static List<MenuItem> applicationsMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "kanban",  MiniTitle = "L" , Title =  "Kanban"  },
		new MenuItem{ Link = "wizard",  MiniTitle = "W" , Title =  "Wizard"  },
		new MenuItem{ Link = "datatables",  MiniTitle = "D" , Title =  "DataTables"  },
		new MenuItem{ Link = "calendar",  MiniTitle = "C" , Title =  "Calendar"  },
		new MenuItem{ Link = "analytics",  MiniTitle = "A" , Title =  "Analytics"  }
	};

	//Pages

	static List<MenuItem> profileMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "profileoverview",  MiniTitle = "P" , Title =  "Profile Overview"  },
		new MenuItem{ Link = "teams",  MiniTitle = "T" , Title =  "Teams"  },
		new MenuItem{ Link = "allproject",  MiniTitle = "A" , Title =  "All Projects"  }
	};
	public static List<MenuItem> usersMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "reports",  MiniTitle = "R" , Title =  "Reports"  },
		new MenuItem{ Link = "newuser",  MiniTitle = "N" , Title =  "New User"  },
	};
	static List<MenuItem> accountMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "settings",  MiniTitle = "S" , Title =  "Settings"  },
		new MenuItem{ Link = "billing",  MiniTitle = "B" , Title =  "Billing"  },
		new MenuItem{ Link = "invoice",  MiniTitle = "I" , Title =  "Invoice"  },
		new MenuItem{ Link = "security",  MiniTitle = "S" , Title =  "Security"  },
	};
	static List<MenuItem> projectMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "general",  MiniTitle = "G" , Title =  "General"  },
		new MenuItem{ Link = "timeline",  MiniTitle = "T" , Title =  "Timeline"  },
		new MenuItem{ Link = "newproject",  MiniTitle = "N" , Title =  "New Project"  },

	};
	static List<MenuItem> pagesMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "pricingpage",  MiniTitle = "L" , Title =  "Pricing Page"  },
		new MenuItem{ Link = "rtl",  MiniTitle = "R" , Title =  "RTL"  },
		new MenuItem{ Link = "widgets",  MiniTitle = "W" , Title =  "Widgets"  },
		new MenuItem{ Link = "charts",  MiniTitle = "C" , Title =  "Charts"  },
		new MenuItem{ Link = "sweetalerts",  MiniTitle = "S" , Title =  "Sweet Alerts"  },
		new MenuItem{ Link = "notifications",  MiniTitle = "N" , Title =  "Notifications"  },
		new MenuItem{ Link = "chat",  MiniTitle = "C" , Title =  "Chat"  },
		new MenuItem{ Link = "syncfusion",  MiniTitle = "S" , Title =  "Syncfusion"  }
	};

	//Ecommerce

	static List<MenuItem> productsMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "newproduct",  MiniTitle = "N" , Title =  "New Product"  },
		new MenuItem{ Link = "editproduct",  MiniTitle = "E" , Title =  "Edit Product"  },
		new MenuItem{ Link = "productpage",  MiniTitle = "P" , Title =  "Product Page"  },
		new MenuItem{ Link = "productslist",  MiniTitle = "P" , Title =  "Products List"  },
	};
	static List<MenuItem> ordersMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "orderlist",  MiniTitle = "o" , Title =  "Order List"  },
		new MenuItem{ Link = "orderdetail",  MiniTitle = "o" , Title =  "Order Details"  }
	};

	//Authentication

	static List<MenuItem> singinMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "signinbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "signincover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "signinillustration",  MiniTitle = "I" , Title =  "Illustration"  },
	};
	static List<MenuItem> singupMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "signupbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "signupcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "signupillustration",  MiniTitle = "I" , Title =  "Illustration"  },
	};
	static List<MenuItem> resetMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "resetbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "resetcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "resetillustration",  MiniTitle = "I" , Title =  "Illustration"  },
	};
	static List<MenuItem> lockMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "lockbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "lockcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "lockillustration",  MiniTitle = "I" , Title =  "Illustration"  },
	};
	static List<MenuItem> verificationMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "verificationbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "verificationcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "verificationillustration",  MiniTitle = "I" , Title =  "Illustration"  },
	};
	static List<MenuItem> errorMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "404",  MiniTitle = "E" , Title =  "Error 404"  },
		new MenuItem{ Link = "500",  MiniTitle = "E" , Title =  "Error 500"  }
	};



	static List<MenuItem> pagesMainMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "/profileoverview",  MiniTitle = "P" , Title =  "Profile Overview"  },
		new MenuItem{ Link = "/teams",  MiniTitle = "T" , Title =  "Teams"  },
		new MenuItem{ Link = "/allproject",  MiniTitle = "A" , Title =  "All Projects"  },
		new MenuItem{ Link = "/reports",  MiniTitle = "R" , Title =  "Reports"  },
		new MenuItem{ Link = "/newuser",  MiniTitle = "N" , Title =  "New User"  },
		new MenuItem{ Link = "/settings",  MiniTitle = "S" , Title =  "Settings"  },
		new MenuItem{ Link = "/billing",  MiniTitle = "B" , Title =  "Billing"  },
		new MenuItem{ Link = "/invoice",  MiniTitle = "I" , Title =  "Invoice"  },
		new MenuItem{ Link = "/security",  MiniTitle = "S" , Title =  "Security"  },
		new MenuItem{ Link = "/general",  MiniTitle = "G" , Title =  "General"  },
		new MenuItem{ Link = "/timeline",  MiniTitle = "T" , Title =  "Timeline"  },
		new MenuItem{ Link = "/newproject",  MiniTitle = "N" , Title =  "New Project"  },
		new MenuItem{ Link = "/pricingpage",  MiniTitle = "L" , Title =  "Pricing Page"  },
		new MenuItem{ Link = "/rtl",  MiniTitle = "R" , Title =  "RTL"  },
		new MenuItem{ Link = "/widgets",  MiniTitle = "W" , Title =  "Widgets"  },
		new MenuItem{ Link = "/charts",  MiniTitle = "C" , Title =  "Charts"  },
		new MenuItem{ Link = "/sweetalerts",  MiniTitle = "S" , Title =  "Sweet Alerts"  },
		new MenuItem{ Link = "/notifications",  MiniTitle = "N" , Title =  "Notifications"  },
		new MenuItem{ Link = "/chat",  MiniTitle = "C" , Title =  "Chat"  },
		new MenuItem{ Link = "/syncfusion",  MiniTitle = "S" , Title =  "Syncfusion"  }
	};

	static List<MenuItem> ecommerceMainMenuItems = new List<MenuItem>
	{
		new MenuItem{ Link = "/overview",  MiniTitle = "O" , Title =  "Overview"  },
		new MenuItem{ Link = "/newproduct",  MiniTitle = "N" , Title =  "New Product"  },
		new MenuItem{ Link = "/editproduct",  MiniTitle = "E" , Title =  "Edit Product"  },
		new MenuItem{ Link = "/productpage",  MiniTitle = "P" , Title =  "Product Page"  },
		new MenuItem{ Link = "/productslist",  MiniTitle = "P" , Title =  "Products List"  },
		new MenuItem{ Link = "/orderlist",  MiniTitle = "o" , Title =  "Order List"  },
		new MenuItem{ Link = "/orderdetail",  MiniTitle = "o" , Title =  "Order Details"  },
		new MenuItem{ Link = "/referral",  MiniTitle = "R" , Title =  "Referral"  },
	};

	static List<MenuItem> authenticationMainItems = new List<MenuItem>
	{
		new MenuItem{ Link = "/singinbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "/singincover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "/singinillustration",  MiniTitle = "I" , Title =  "Illustration"  },
		new MenuItem{ Link = "/singupbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "/singupcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "/singupillustration",  MiniTitle = "I" , Title =  "Illustration"  },
		new MenuItem{ Link = "/resetbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "/resetcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "/resetillustration",  MiniTitle = "I" , Title =  "Illustration"  },
		new MenuItem{ Link = "/lockbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "/lockcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "/lockillustration",  MiniTitle = "I" , Title =  "Illustration"  },
		new MenuItem{ Link = "/verificationbasic",  MiniTitle = "B" , Title =  "Basic"  },
		new MenuItem{ Link = "/verificationcover",  MiniTitle = "C" , Title =  "Cover"  },
		new MenuItem{ Link = "/verificationillustration",  MiniTitle = "I" , Title =  "Illustration"  },
		new MenuItem{ Link = "/404",  MiniTitle = "E" , Title =  "Error 404"  },
		new MenuItem{ Link = "/500",  MiniTitle = "E" , Title =  "Error 500"  }
	};






}


@*<aside class="sidenav @(AppState.SideBarType != "bg-default" ? "bg-white" : "bg-default")  navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main" data-color="@AppState.SideBarColor">
	<div class="sidenav-header">
		<i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
		<a class="navbar-brand m-0" href="/default" target="_blank">
			<img src="@AppState.SideBarLogo" class="navbar-brand-img h-100" alt="main_logo">
			<span class="ms-1 font-weight-bold">@sideBarTitle</span>
		</a>
	</div>
	<hr class="horizontal dark mt-0">
	<div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link @DashboardActiveClass" aria-controls="dashboardsExamples" role="button" aria-expanded="false">
					<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
						<i class="ni ni-shop text-primary text-sm opacity-10"></i>
					</div>
					<span class="nav-link-text ms-1">Dashboards</span>
				</a>
				<div class="collapse " id="dashboardsExamples">
					<ul class="nav ms-4">
						@foreach (MenuItem menuItem in dashboardMenuItems)
						{
							<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
								<NavLink class="nav-link" href="@menuItem.Link">
									<span class="sidenav-mini-icon"> @menuItem.MiniTitle </span>
									<span class="sidenav-normal"> @menuItem.NormalTitle </span>
								</NavLink>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="nav-item mt-3">
				<h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">PAGES</h6>
			</li>
			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link @PagesActiveClass" aria-controls="pagesExamples" role="button" aria-expanded="false">
					<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
						<i class="ni ni-ungroup text-warning text-sm opacity-10"></i>
					</div>
					<span class="nav-link-text ms-1">Pages</span>
				</a>
				<div class="collapse " id="pagesExamples">
					<ul class="nav ms-4">
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#profileExample">
								<span class="sidenav-mini-icon"> P </span>
								<span class="sidenav-normal"> Profile <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="profileExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in profileMenuItems)
									{
										<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#usersExample">
								<span class="sidenav-mini-icon"> U </span>
								<span class="sidenav-normal"> Users <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="usersExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in usersMenuItems)
									{
										<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#accountExample">
								<span class="sidenav-mini-icon"> A </span>
								<span class="sidenav-normal"> Account <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="accountExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in accountMenuItems)
									{
										<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#projectsExample">
								<span class="sidenav-mini-icon"> P </span>
								<span class="sidenav-normal"> Projects <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="projectsExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in projectMenuItems)
									{
										<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						@foreach (MenuItem menuItem in pagesMenuItems)
						{
							<li class="nav-item" @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
								<NavLink class="nav-link " href="@menuItem.Link">
									<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
									<span class="sidenav-normal"> @menuItem.NormalTitle </span>
								</NavLink>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#applicationsExamples" class="nav-link @ApplicationActiveClass" aria-controls="applicationsExamples" role="button" aria-expanded="false">
					<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
						<i class="ni ni-ui-04 text-info text-sm opacity-10"></i>
					</div>
					<span class="nav-link-text ms-1">Applications</span>
				</a>
				<div class="collapse " id="applicationsExamples">
					<ul class="nav ms-4">
						@foreach (MenuItem menuItem in applicationsMenuItems)
						{
							<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
								<NavLink class="nav-link " href="@menuItem.Link">
									<span class="sidenav-mini-icon"> @menuItem.MiniTitle </span>
									<span class="sidenav-normal"> @menuItem.NormalTitle </span>
								</NavLink>
							</li>
						}
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#ecommerceExamples" class="nav-link @EcommerceActiveClass" aria-controls="ecommerceExamples" role="button" aria-expanded="false">
					<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
						<i class="ni ni-archive-2 text-success text-sm opacity-10"></i>
					</div>
					<span class="nav-link-text ms-1">Ecommerce</span>
				</a>
				<div class="collapse " id="ecommerceExamples">
					<ul class="nav ms-4">
						<li class="nav-item " @onclick=@(() => NavLinkOnClick("Overview"))>
							<NavLink class="nav-link " href="/overview">
								<span class="sidenav-mini-icon"> O </span>
								<span class="sidenav-normal"> Overview </span>
							</NavLink>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#productsExample">
								<span class="sidenav-mini-icon"> P </span>
								<span class="sidenav-normal"> Products <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="productsExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in productsMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#ordersExample">
								<span class="sidenav-mini-icon"> O </span>
								<span class="sidenav-normal"> Orders <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="ordersExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in ordersMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item " @onclick=@(() => NavLinkOnClick("Referral"))>
							<NavLink class="nav-link " href="/referral">
								<span class="sidenav-mini-icon"> R </span>
								<span class="sidenav-normal"> Referral </span>
							</NavLink>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<a data-bs-toggle="collapse" href="#authExamples" class="nav-link @AuthenticationActiveClass" aria-controls="authExamples" role="button" aria-expanded="false">
					<div class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center">
						<i class="ni ni-single-copy-04 text-danger text-sm opacity-10"></i>
					</div>
					<span class="nav-link-text ms-1">Authentication</span>
				</a>
				<div class="collapse " id="authExamples">
					<ul class="nav ms-4">
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#signinExample">
								<span class="sidenav-mini-icon"> S </span>
								<span class="sidenav-normal"> Sign In <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="signinExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in singinMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#signupExample">
								<span class="sidenav-mini-icon"> S </span>
								<span class="sidenav-normal"> Sign Up <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="signupExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in singupMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#resetExample">
								<span class="sidenav-mini-icon"> R </span>
								<span class="sidenav-normal"> Reset Password <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="resetExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in resetMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#lockExample">
								<span class="sidenav-mini-icon"> L </span>
								<span class="sidenav-normal"> Lock <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="lockExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in lockMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#StepExample">
								<span class="sidenav-mini-icon"> 2 </span>
								<span class="sidenav-normal"> 2-Step Verification <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="StepExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in verificationMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
						<li class="nav-item ">
							<NavLink class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#errorExample">
								<span class="sidenav-mini-icon"> E </span>
								<span class="sidenav-normal"> Error <b class="caret"></b></span>
							</NavLink>
							<div class="collapse " id="errorExample">
								<ul class="nav nav-sm flex-column">
									@foreach (MenuItem menuItem in errorMenuItems)
									{
										<li class="nav-item " @onclick=@(() => NavLinkOnClick(@menuItem.NormalTitle))>
											<NavLink class="nav-link " href="@menuItem.Link">
												<span class="sidenav-mini-icon text-xs"> @menuItem.MiniTitle </span>
												<span class="sidenav-normal"> @menuItem.NormalTitle </span>
											</NavLink>
										</li>
									}
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</li>

		</ul>
	</div>
	<div class="sidenav-footer mx-3 my-3">
		<div class="card card-plain shadow-none" id="sidenavCard">
			Footer vmi
			<img class="w-60 mx-auto" src="../../assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
			<div class="card-body text-center p-3 w-100 pt-0">
				<div class="docs-info">
					<h6 class="mb-0">Need help?</h6>
					<p class="text-xs font-weight-bold mb-0">Please check our docs</p>
				</div>
			</div>
		</div>
		@*<a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/argon-dashboard" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a>*@
	</div>
</aside>

*@
